<h1>Breaks: lines, columns, and pages</h1>

<p>In a TEI document, there are typically two types of breaks that one wants to keep track of: 
linguistic breaks, breaking the text into words, sentences, and paragraphs, and palaeographic
breaking, breaking the text into lines, columns, and pages. These two levels of annotation often
overlap: a word, sentence, or paragraph can span across a line, column, or page. In XML, overlapping
annotations are not allowed, which is why there are two flavours of TEI: one in which the basic
markup is linguistic, and another in which the basic markup is palaeographic. 

<p>Since TEITOK focusses on words, it always takes the former approach: words (or rather tokens), 
sentences and paragraphs are marked as block with a start and an end tag, whereas lines, columns
and pages are not directly represented: only the start of a new line, column of pages is indicated
by an empty tag, named &lt;lb/&gt;, &lt;cb&gt;, and &lt;pb&gt; respectively. The end of a line, 
column, or page is implicitly indicated by the start of a new one.

<p>In TEITOK, one can choose what to do with palaeographic breaks: they can be hidden, showing the 
text as a running text, formatted into linguistic unit, or they can be shown in either of two 
ways: as tags inside the running text, or as actual formatting units, where lines are shown as breaks,
and columns and pages are shown as breaks with a horizontal separating line. 

<p>When displaying in palaeographic mode, breaks are displayed exactly where they are: if there is a
break in the middle of a word, part of the word is shown on the first line/column/page, and the rest
on the next one. However, when viewing one of the higher-level forms, each word is represented as a
string of characters, without information like breaks inside. To nevertheless represent breaks,
the break is shown <i>after</i> the entire word, meaning that even if part of the word is on a new
line/column/page, the entire word will be show on the first line/column/page.

<p>Independently of how a word is displayed, it always remains a single unit: when a word is broken 
across a line, column, or page, when you move the mouse over either part of the word, the entire word
will be highlighted as an indication of the fact that the word spans across the break. 