<p>Type in a search query in the CQL (Corpus WorkBench Query Language) format in the text box above to search in 
	the corpus.  
The CQL syntax uses an intuitive system of defining properties of words you are looking for, as in for instance: 

<div style='font-size: 11pt; padding-left: 20px;' onClick="cqpdo(this);">[lemma="casa"] [pos="A.*"]</div>

<p>will search for any form of the word <i>casa</i> followed by an adjective. More information about the CQL language 
	can be found <a href='http://cwb.sourceforge.net/documentation.php'>here</a>
	
<p>To facilitate searching, the interface provides a query builder which provides an easy way to define
simple queries in CQL. Just click on the query builder icon to open the query builder, define your query, and 
click on the <button type="button">Create query</button> button to insert
that query in the CQL query box, after which you can modify it by hand if needed, or simply hit search.</p>

<p>You can use to Query Builder to just search for documents - you do this by not providing any token restrictions, 
which will make the system interpret the query as a search for document. 

<hr>

<p><a onClick="cqpdo('<text> []', true);">List all documents</a>