<p>You can type in a list of named queries below, and visualize a comparison between the different results.
To build the queries, you can first run them in the <a href='index.php?action=cqp'>CQP search</a>, and then store them in the 
<a href='index.php?action=querymng'>Query Manager</a>.</p>