<h1>Query Builder Help</h1>

<p>The Query Builder (QB) is a graphical interface to help you to create a query in the CQL query language,
which will then be inserted in the search field. Although it does by no means allow you to exploit the 
full power of CQL, it does allow to search for sequences of words combined with global conditions on
the context in which these words are found.</p>

<p>QB present all the attributes on words and ranges that are searchable for the corpus, which can hence
differ greatly between different TEITOK corpora. Each attribute is presented with an interpretable name, 
and depending on the type of attribute, it is presented as a search field, a pull-down list, or a checkbox.
You can search for sequences of words by clicking the "add token" button.</p>

<p>Once you have define all the characteristics of your query, use the "create query" button to generate
the corresponding CQL query. That query will then be inserted in the CQL search box. To see what you defined
afterwards, you can use the visualization button, which will generate an easier to read graphical representation 
of the query. The CQL visualizer can also be used for CQL queries typed in by hand, although it does not
handle the full CQL language. When there are errors in the query, the visualizer will alert where the errors
are.</p>