<h1>TEI and Tokenization</h1>

<p>TEITOK attempts to stay as close as possible to the original TEI XML. Nevertheless, the introduction of token markup
poses some restrictions on the TEI input. When these restrictions are not met, the tokenization process will fail. In 
most cases, this will lead to an error message indicating where the violation of the requirements takes place, but in 
some cases it merely leads to an error.

<p>The basic source of the requirements is that with the introduction of tokens, every other markup has to be either 
inside or outside the token: nothing can cross the boundary of a token. A good example is a situation in which part
of one word, and the entire next word are crossed out, which in standard TEI is not a problem:

<blockquote><b>carta&lt;del&gt;s blancas&lt;/del&gt; verde</b></blockquote>

<p>But once token elements are introduced, this leads to illegal XML:

<blockquote><b>&lt;tok&gt;carta&lt;del&gt;s&lt;/tok&gt; &lt;tok&gt;blancas&lt;/del&gt;&lt;/tok&gt; &lt;tok&gt;verde&lt;/tok&gt;</b></blockquote>

<p>For that matter, a distinction is made between character-level tags (c-tags), which indicate properties of sets of letters, 
and word-level tags (w-tags), which indicate properties of sets of words. Each project can indicate which are the c-tags in
that project, but the standards c-tags are &lt;abbr&gt;, &lt;expan&gt;, &lt;del&gt;, &lt;add&gt;, &lt;supplied&gt;, and &lt;lb&gt;.

<p>T-tags can never occur within the token, and an error will occur if there is a t-tags inside a word - where a word is any 
sequence of letters surrounded by white-spaces. 

<p>C-tags can only occur within the token, which means that in the example above, the c-tag has to be repeated:

<blockquote><b>&lt;tok&gt;carta&lt;del&gt;s&lt;/del&gt;&lt;/tok&gt; &lt;tok&gt;&lt;del&gt;blancas&lt;/del&gt;&lt;/tok&gt; &lt;tok&gt;verde&lt;/tok&gt;</b></blockquote>

<p>The third requirement is that c-tags always have to be inside t-tags, meaning that 
<b>&lt;del&gt;&lt;foreign&gt;mijn&lt;/foreign&gt;&lt;/del&gt;</b> is not valid, and has to be changed into 
<b>&lt;foreign&gt;&lt;del&gt;mijn&lt;/del&gt;&lt;/foreign&gt;</b> - which will then tokenize as 
<b>&lt;foreign&gt;&lt;tok&gt;&lt;del&gt;mijn&lt;/del&gt;&lt;/tok&gt;&lt;/foreign&gt;</b>. 


<p>In principle, doubling and putting c-tags inside t-tags
will be done automatically in the tokenization process, but there are cases where this leads to
errors, especially if there are several nested tags in the TEI file. 
