<h1>Querying PSDX Trees with XPath</h1>

<p>Syntactic trees in TEITOK are stored in the PSDX format, which is the XML version of
the Penn Treebank PSD format. The PSDX format is part of the TEI specifications. In the 
PSDX format, trees are represented as an XML hierarchy mimicking the syntactic tree, 
where each node is called &lt;eTree&gt; and each terminal node is called  &lt;eLeaf&gt;, 
whereas the three itself is called  &lt;forest&gt; The node type for an &lt;eTree&gt;
is on an attribute called @Label, and the content of a terminal node is on an attribute
called @Text.

<p>To query through PSDX files, TEITOK offers an XPath search function. 
XPath is the most common way to indicate nodes in an XML tree. 
The idea behind it is comparable to that of the
filepath for files on your computer, with slashes separating folders, and .. indicating the
parent. 

<p>An example of a syntactic XPath query is the following: 

<blockquote style='font-family: monospace'>
//eTree[eTree[@Label="NP-SBJ" and not(.//eLeaf[@Text])]]
</blockquote>

<p>In this query, we look for a node that has a child that is of type NP-SBJ (a subject NP), which
doe not have a terminal node below it with a @Text, ie. an empty node. Or, to say it in a different
way, a phrasal element with a null subject.

<p>In the same manner, we can also look for all IP-SUB nodes that have a sister node of type WNP-3:

<blockquote style='font-family: monospace'>
//eTree[@Label="IP-SUB" and ../eTree[@Label="WNP-3"]]
</blockquote>

<p>Apart from going up or down in the tree, it is also possible to do comparisons in XPath on numbers
and strings, for instance, we can search all IP-SUB with exactly three trees below it:

<blockquote style='font-family: monospace'>
//eTree[@Label="IP-SUB" and count(eTree) = 3]
</blockquote>

<p>Or we can select nodes with the same @Label as their parent (to get the parent node, add a /.. to the end): 

<blockquote style='font-family: monospace'>
//eTree[@Label = ../@Label]
</blockquote>

<p>For those that are used to using CorpusSearch, <a href='index.php?action=corpussearch'>here is a comparison</a>.

<hr>
<p><a href='index.php?action=psdx&act=xpath'>To XPath search</a></p>