<p style='margin-top: 40px;'>On this page, you can search through the XML files of the corpus using XPath queries. 
You can use this to search for things that cannot be found using the much more efficient
<a href='index.php?action=cqp'>CQP query</a>, such as for instance any sentence containing
a token which contains letter added later:

<pre>
//s[.//tok//add]
</pre> 

<p>If you have permissions, you can also use it to restrict the query to information 
taken from the teiHeader, also expressed as an XPath query. For instance, you can look
for sentences only in files that have a recoringStmt that contains a URL for a sound
file:

<pre>
//recording//@url
</pre> 

