<h1>Querying PSDX Trees with XQuery</h1>

<p>Syntactic trees in TEITOK are stored in the PSDX format, which is the XML version of
the Penn Treebank PSD format. The PSDX format is part of the TEI specifications. In the 
PSDX format, trees are represented as an XML hierarchy mimicking the syntactic tree, 
where each node is called &lt;eTree&gt; and each terminal node is called  &lt;eLeaf&gt;, 
whereas the three itself is called  &lt;forest&gt;

<p>To query through PSDX files, TEITOK offers an XQuery search function. XQuery is a
powerful query language, that lets you express just about anything. The most powerful
tool in XQuery is called FLOWR, and a very simple example is given before.

<blockquote style='font-family: monospace'>
for $tree in //eTree[@Label="IP-SUB"]
<br> where exists($tree//eTree[@Label="ADV"])
<br>return $tree
</blockquote>

<p>In this example, all results are given that have an IP-SUB node, where there exists a 
subnode somewhere below that node that is an ADV. A short explanation of how to use FLOWR
for syntactic searches can be found in the <a href='erwinkomen.ruhosting.nl/software/CorpusStudio/CrpStu_Manual.pdf'>manual of Corpus Studio</a>.

<p>Although not as expressive as FLOWR, for most practical purposes, syntactically relevant queries are more
easily expressed in XPath, which is part of XQuery. XPath is in its basis compable to the
filepath for files on your computer, with slashes separating folders, and .. indicating the
parent. In XPath, the query above can be represented as follows: 

<blockquote style='font-family: monospace'>
//eTree[@Label="IP-SUB" and .//eTree[@Label="ADV"]]
</blockquote>

<p>In the same manner, we can also look for all IP-SUB nodes that have a sister not of type WNP-3:

<blockquote style='font-family: monospace'>
//eTree[@Label="IP-SUB" and ../eTree[@Label="WNP-3"]]
</blockquote>

<p>Notice that in the query above we only require the parent of the IP-SUB node to have a child
of the right type. If we want to specify that the IP-SUB has to directly follow the WNP-3, we
could express that as follows:

<blockquote style='font-family: monospace'>
//eTree[@Label="WNP-3"]/following-sibling::eTree[@Label="IP-SUB"]
</blockquote>
