/* global settings */
p, td, body {
	font-family: 'Open Sans', Sans;
	font-size: 11pt;
}
th {
	font-size: 10pt;
	text-align: left;
	font-weight: normal;
	border: 1px solid #cccccc; background-color: #eeeeee; 
}

/* headings */
h1 {
	color: #aa0000;
	font-size: 16pt;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	border-bottom: 1px solid #f58888;
}
h2 {
	color: #990000;
	font-size: 13pt;
	margin-bottom: 10px;
}
h3 {
	color: #262666;
	font-size: 11pt;
	margin-bottom: 7px;
	margin-top: 4px;
}

/* link treatment */
a {
	color: #bb0000;
	text-decoration: none;
}
a:hover {
	color: #B10069;
}
a.menu {
	color: black;
	font-size: 11pt;
	font-weight: normal;
	text-decoration: none;
}
a.menu:hover {
	color: #990000;
}
hr {
	color: #cc6600;
	background-color: #cc6600;
	border: #cc6600;
	height: 1px;
}
ul { 
	padding-top: 0px; 
	margin-top: 0px; 
	padding-left: 25px; 
	margin-left: 5px; 
	list-style-image: url("../Images/ulimg.gif");
}
li {
	margin-top: 5px;
}
li ul {
	list-style-image: none;
	list-style: none;
	}

dt { 
	margin-top: 15px; 
	list-style-image: url("Images/ulimg.gif");
}
dd {
	margin-top: 5px; 
	padding-left: 35px; 
	margin-left: 0px; 
}

.indented { padding-left: 20px; text-indent: -20px; } .greybold { color: #555555; font-weight: bold;}

.floatblock {
	display: inline-block;
	vertical-align: top;
	margin: 0px; margin-bottom: 2px;
	padding: 4px;
	font-size: 10pt;
	border: 1px solid #cccccc;
}
.floatblock div {
	font-size: 10px;
	color: #888888;
	text-align: center;
}
